<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<app-loader [isLoading]="isLoading | async" size="lg">
  <div fxLayout="column" fxLayoutGap="16px" *ngIf="post | async as $post">
    <mat-card fxLayout="row">
      <div>
        <img mat-card-image
             [src]="$post.image | image"
             [alt]="$post.title"
             class="post-img"
        />
      </div>
      <mat-card-content>
        <mat-card-subtitle>{{ $post.datetime }} by {{ $post.user.name }}</mat-card-subtitle>
        <mat-card-title>{{ $post.title }}</mat-card-title>
        <p>{{ $post.description }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Comments</mat-card-title>
    </mat-card>
    <app-comment-items [post]="$post"></app-comment-items>
    <mat-card>
      <app-add-comment [post]="$post"></app-add-comment>
    </mat-card>
  </div>
</app-loader>
