<form (ngSubmit)="onCommentSend()"
      fxLayout="column"
      #f="ngForm"
>
  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea name="text"
              matInput
              ngModel
              #comment="ngModel"
              required
    ></textarea>
    <mat-error *ngIf="comment.touched && comment.hasError('required')">
      Field is required
    </mat-error>
  </mat-form-field>
  <button type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (isLoading | async)"
  >
    <app-loader [isLoading]="isLoading | async" size="sm">
      Send comment
    </app-loader>
  </button>
</form>
